<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> Anand Bank</mat-card-title>
    <mat-card-subtitle>Sign in to your account</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
            @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
            <mat-error>Please enter a valid email address</mat-error>
            }
            @if (emailFormControl.hasError('required')) {
            <mat-error>Email is <strong>required</strong></mat-error>
            }
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input type="password" matInput [formControl]="emailFormControl" placeholder="Ex. Abc@123456">
            @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
            <mat-error>Please enter a valid email address</mat-error>
            }
            @if (emailFormControl.hasError('required')) {
            <mat-error>Email is <strong>required</strong></mat-error>
            }
        </mat-form-field>
       
       <div class="loginBtn">
        <button matButton="tonal" >Login</button>
       </div>
       <div class="matHints">
        <mat-hint>We'll never share your email.</mat-hint>
       </div>
        <div class="AdminLoginBtn">
        <button matButton="tonal" >Admin Login</button>
       </div>
         
</form>

  </mat-card-actions>
</mat-card>


